@model List<Trip>
@{
    ViewData["Title"] = "Muh trips";
}

<h2>Trip List</h2>

<a asp-controller="Trip" asp.action="Add">Add new trip</a>
<table class="d-lg-table table-bordered table-striped">
    <thead>
        <tr>
            <th>TripId</th>
            <th>Destination</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>Accomodation</th>
            <th>ToDo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var trip in Model) {
            <tr>
                <td>@trip.TripId</td>
                <td>@trip.Destination</td>
                <td>@trip.StartDate</td>
                <td>@trip.EndDate</td>
                <td>@trip.Accommodation</td>
                <td>@trip.ToDo</td>
                <td>
                    <a asp-controller="Trip" asp-action="Edit"
                        asp-route-id="@trip.TripId">Edit</a>
                    <a asp-controller="Trip" asp-action="Delete"
                       asp-route-id="@trip.TripId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
